{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Корзина</h1>

        {% include 'order/items.html.twig' with {'order': order} %}

        <a href="{{ path('order_complete') }}">Оформить заказ</a>
    </div>
{% endblock %}
