{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for orderId in app.flashes('last_order') %}
            <h1>Ваш заказ №{{ orderId }} принят в обработку. Проверьте почту и ждите звонка.</h1>
        {% endfor %}

        <a href="{{ path('homepage') }}">На главную</a>
    </div>
{% endblock %}

